<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftwl.ltp.dao.base.RoleBaseDao">
    <resultMap id="baseResultMap" type="com.ftwl.ltp.model.entity.Role">
        <id column="ID" property="id" />
            <result column="ROLE_NAME" property="roleName"/>
            <result column="NOTES" property="notes"/>
            <result column="CREATE_USER" property="createUser"/>
            <result column="CREATE_TIME" property="createTime"/>
            <result column="UPDATE_USER" property="updateUser"/>
            <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>
    <sql id="baseColumnList">
    ID,ROLE_NAME,NOTES,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME
    </sql>
    <select id="get" parameterType="java.lang.String" resultMap="baseResultMap">
        select <include refid="baseColumnList"/>
        from ltp_role
        where ID = #{id}
    </select>
    <delete id="delete" parameterType="java.util.Collection">
        delete from ltp_role
        where 1=1 and ID in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
        #{item}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.ftwl.ltp.model.entity.Role">
        insert into ltp_role (
    ID,
    ROLE_NAME,
    NOTES,
    CREATE_USER,
    CREATE_TIME,
    UPDATE_USER,
    UPDATE_TIME
        )
        values (
    #{id, jdbcType=VARCHAR},
    #{roleName, jdbcType=VARCHAR},
    #{notes, jdbcType=VARCHAR},
    #{createUser, jdbcType=VARCHAR},
    #{createTime, jdbcType=TIMESTAMP},
    #{updateUser, jdbcType=VARCHAR},
    #{updateTime, jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.ftwl.ltp.model.entity.Role">
        insert into ltp_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
            ID,
            </if>
            <if test="roleName != null">
            ROLE_NAME,
            </if>
            <if test="notes != null">
            NOTES,
            </if>
            <if test="createUser != null">
            CREATE_USER,
            </if>
            <if test="createTime != null">
            CREATE_TIME,
            </if>
            <if test="updateUser != null">
            UPDATE_USER,
            </if>
            <if test="updateTime != null">
            UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
            #{id, jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
            #{roleName, jdbcType=VARCHAR},
            </if>
            <if test="notes != null">
            #{notes, jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
            #{createUser, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
            #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
            #{updateUser, jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
            #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into ltp_role (ID,ROLE_NAME,NOTES,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
        #{item.id, jdbcType=VARCHAR},
        #{item.roleName, jdbcType=VARCHAR},
        #{item.notes, jdbcType=VARCHAR},
        #{item.createUser, jdbcType=VARCHAR},
        #{item.createTime, jdbcType=TIMESTAMP},
        #{item.updateUser, jdbcType=VARCHAR},
        #{item.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
    <update id="update" parameterType="com.ftwl.ltp.model.entity.Role">
        update ltp_role
        <set>
            ROLE_NAME = #{roleName, jdbcType=VARCHAR},
            NOTES = #{notes, jdbcType=VARCHAR},
            CREATE_USER = #{createUser, jdbcType=VARCHAR},
            CREATE_TIME = #{createTime, jdbcType=TIMESTAMP},
            UPDATE_USER = #{updateUser, jdbcType=VARCHAR},
            UPDATE_TIME = #{updateTime, jdbcType=TIMESTAMP}
        </set>
        where ID = #{id}
    </update>
    <update id="updateSelective" parameterType="com.ftwl.ltp.model.entity.Role">
        update ltp_role
        <set>
                <if test="roleName != null">
                ROLE_NAME = #{roleName, jdbcType=VARCHAR},
                </if>
                <if test="notes != null">
                NOTES = #{notes, jdbcType=VARCHAR},
                </if>
                <if test="createUser != null">
                CREATE_USER = #{createUser, jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                CREATE_TIME = #{createTime, jdbcType=TIMESTAMP},
                </if>
                <if test="updateUser != null">
                UPDATE_USER = #{updateUser, jdbcType=VARCHAR},
                </if>
                <if test="updateTime != null">
                UPDATE_TIME = #{updateTime, jdbcType=TIMESTAMP}
                </if>
        </set>
        where ID = #{id}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        insert into ltp_role (ID,ROLE_NAME,NOTES,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
        #{item.id, jdbcType=VARCHAR},
        #{item.roleName, jdbcType=VARCHAR},
        #{item.notes, jdbcType=VARCHAR},
        #{item.createUser, jdbcType=VARCHAR},
        #{item.createTime, jdbcType=TIMESTAMP},
        #{item.updateUser, jdbcType=VARCHAR},
        #{item.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        ID = IF(ID = VALUES(ID),ID,NULL)
            ,ROLE_NAME = VALUES(ROLE_NAME)
            ,NOTES = VALUES(NOTES)
            ,CREATE_USER = VALUES(CREATE_USER)
            ,CREATE_TIME = VALUES(CREATE_TIME)
            ,UPDATE_USER = VALUES(UPDATE_USER)
            ,UPDATE_TIME = VALUES(UPDATE_TIME)
    </update>
    <select id="listByEntity" parameterType="com.ftwl.ltp.model.entity.Role" resultMap="baseResultMap">
        select <include refid="baseColumnList"/>
        from ltp_role
        where 1=1
            <if test="roleName != null">
                AND ROLE_NAME = #{roleName}
            </if>
            <if test="notes != null">
                AND NOTES = #{notes}
            </if>
            <if test="createUser != null">
                AND CREATE_USER = #{createUser}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="updateUser != null">
                AND UPDATE_USER = #{updateUser}
            </if>
            <if test="updateTime != null">
                AND UPDATE_TIME = #{updateTime}
            </if>
    </select>
    <update id="updateField">
        update ltp_role
        <set>
                <if test="param2.roleName">
                ROLE_NAME = #{param1.roleName, jdbcType=VARCHAR},
                </if>
                <if test="param2.notes">
                NOTES = #{param1.notes, jdbcType=VARCHAR},
                </if>
                <if test="param2.updateUser">
                UPDATE_USER = #{param1.updateUser, jdbcType=VARCHAR},
                </if>
                <if test="param2.updateTime">
                UPDATE_TIME = #{param1.updateTime, jdbcType=TIMESTAMP},
                </if>
        </set>
        where ID = #{param1.id}
    </update>
</mapper>