<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftwl.ltp.dao.base.UserRoleBaseDao">
    <resultMap id="baseResultMap" type="com.ftwl.ltp.model.entity.UserRole">
        <id column="ID" property="id" />
            <result column="USER_ID" property="userId"/>
            <result column="ROLE_ID" property="roleId"/>
            <result column="CREATE_USER" property="createUser"/>
            <result column="CREATE_TIME" property="createTime"/>
            <result column="UPDATE_USER" property="updateUser"/>
            <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>
    <sql id="baseColumnList">
    ID,USER_ID,ROLE_ID,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME
    </sql>
    <select id="get" parameterType="java.lang.String" resultMap="baseResultMap">
        select <include refid="baseColumnList"/>
        from ltp_user_role
        where ID = #{id}
    </select>
    <delete id="delete" parameterType="java.util.Collection">
        delete from ltp_user_role
        where 1=1 and ID in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
        #{item}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.ftwl.ltp.model.entity.UserRole">
        insert into ltp_user_role (
    ID,
    USER_ID,
    ROLE_ID,
    CREATE_USER,
    CREATE_TIME,
    UPDATE_USER,
    UPDATE_TIME
        )
        values (
    #{id, jdbcType=VARCHAR},
    #{userId, jdbcType=VARCHAR},
    #{roleId, jdbcType=VARCHAR},
    #{createUser, jdbcType=VARCHAR},
    #{createTime, jdbcType=TIMESTAMP},
    #{updateUser, jdbcType=VARCHAR},
    #{updateTime, jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.ftwl.ltp.model.entity.UserRole">
        insert into ltp_user_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
            ID,
            </if>
            <if test="userId != null">
            USER_ID,
            </if>
            <if test="roleId != null">
            ROLE_ID,
            </if>
            <if test="createUser != null">
            CREATE_USER,
            </if>
            <if test="createTime != null">
            CREATE_TIME,
            </if>
            <if test="updateUser != null">
            UPDATE_USER,
            </if>
            <if test="updateTime != null">
            UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
            #{id, jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
            #{userId, jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
            #{roleId, jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
            #{createUser, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
            #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
            #{updateUser, jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
            #{updateTime, jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into ltp_user_role (ID,USER_ID,ROLE_ID,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
        #{item.id, jdbcType=VARCHAR},
        #{item.userId, jdbcType=VARCHAR},
        #{item.roleId, jdbcType=VARCHAR},
        #{item.createUser, jdbcType=VARCHAR},
        #{item.createTime, jdbcType=TIMESTAMP},
        #{item.updateUser, jdbcType=VARCHAR},
        #{item.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
    <update id="update" parameterType="com.ftwl.ltp.model.entity.UserRole">
        update ltp_user_role
        <set>
            USER_ID = #{userId, jdbcType=VARCHAR},
            ROLE_ID = #{roleId, jdbcType=VARCHAR},
            CREATE_USER = #{createUser, jdbcType=VARCHAR},
            CREATE_TIME = #{createTime, jdbcType=TIMESTAMP},
            UPDATE_USER = #{updateUser, jdbcType=VARCHAR},
            UPDATE_TIME = #{updateTime, jdbcType=TIMESTAMP}
        </set>
        where ID = #{id}
    </update>
    <update id="updateSelective" parameterType="com.ftwl.ltp.model.entity.UserRole">
        update ltp_user_role
        <set>
                <if test="userId != null">
                USER_ID = #{userId, jdbcType=VARCHAR},
                </if>
                <if test="roleId != null">
                ROLE_ID = #{roleId, jdbcType=VARCHAR},
                </if>
                <if test="createUser != null">
                CREATE_USER = #{createUser, jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                CREATE_TIME = #{createTime, jdbcType=TIMESTAMP},
                </if>
                <if test="updateUser != null">
                UPDATE_USER = #{updateUser, jdbcType=VARCHAR},
                </if>
                <if test="updateTime != null">
                UPDATE_TIME = #{updateTime, jdbcType=TIMESTAMP}
                </if>
        </set>
        where ID = #{id}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        insert into ltp_user_role (ID,USER_ID,ROLE_ID,CREATE_USER,CREATE_TIME,UPDATE_USER,UPDATE_TIME
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
        #{item.id, jdbcType=VARCHAR},
        #{item.userId, jdbcType=VARCHAR},
        #{item.roleId, jdbcType=VARCHAR},
        #{item.createUser, jdbcType=VARCHAR},
        #{item.createTime, jdbcType=TIMESTAMP},
        #{item.updateUser, jdbcType=VARCHAR},
        #{item.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        ID = IF(ID = VALUES(ID),ID,NULL)
            ,USER_ID = VALUES(USER_ID)
            ,ROLE_ID = VALUES(ROLE_ID)
            ,CREATE_USER = VALUES(CREATE_USER)
            ,CREATE_TIME = VALUES(CREATE_TIME)
            ,UPDATE_USER = VALUES(UPDATE_USER)
            ,UPDATE_TIME = VALUES(UPDATE_TIME)
    </update>
    <select id="listByEntity" parameterType="com.ftwl.ltp.model.entity.UserRole" resultMap="baseResultMap">
        select <include refid="baseColumnList"/>
        from ltp_user_role
        where 1=1
            <if test="userId != null">
                AND USER_ID = #{userId}
            </if>
            <if test="roleId != null">
                AND ROLE_ID = #{roleId}
            </if>
            <if test="createUser != null">
                AND CREATE_USER = #{createUser}
            </if>
            <if test="createTime != null">
                AND CREATE_TIME = #{createTime}
            </if>
            <if test="updateUser != null">
                AND UPDATE_USER = #{updateUser}
            </if>
            <if test="updateTime != null">
                AND UPDATE_TIME = #{updateTime}
            </if>
    </select>
    <update id="updateField">
        update ltp_user_role
        <set>
                <if test="param2.userId">
                USER_ID = #{param1.userId, jdbcType=VARCHAR},
                </if>
                <if test="param2.roleId">
                ROLE_ID = #{param1.roleId, jdbcType=VARCHAR},
                </if>
                <if test="param2.updateUser">
                UPDATE_USER = #{param1.updateUser, jdbcType=VARCHAR},
                </if>
                <if test="param2.updateTime">
                UPDATE_TIME = #{param1.updateTime, jdbcType=TIMESTAMP},
                </if>
        </set>
        where ID = #{param1.id}
    </update>
</mapper>