<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ftwl.ltp.dao.RoleDao">
    <resultMap id="baseResultMap" extends="com.ftwl.ltp.dao.base.RoleBaseDao.baseResultMap" type="com.ftwl.ltp.model.entity.Role"></resultMap>
    <sql id="baseColumnList">
        <include refid="com.ftwl.ltp.dao.base.RoleBaseDao.baseColumnList" />
    </sql>

</mapper>